@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--text-color);
  font-family: 'Inter', serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  background-color: var(--page-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  @media (width >= 640px) {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.header {
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
}

.page-title {
  font-size: 1.5rem;

  @media (width >= 640px) {
    font-size: 3rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  background-color: var(--button-primary-bg-color);
  border: var(--button-primary-bdr);
  border-radius: 6px;
  box-shadow: none;
  color: var(--button-primary-color);
  font-weight: bold;
  max-width: 150px;
  padding: 0.6rem;
  transition: all 0.3s;
  width: 100%;
}

.button:hover {
  background-color: var(--button-primary-bg-hov-color);
  border: var(--button-primary-bdr-hov);
  cursor: pointer;
}

.button.add-to-cart {
  max-width: 100%;
}

.button.button-primary {
  background-color: var(--button-primary-bg-color);
  border: var(--button-primary-bdr);
  color: var(--button-primary-color);
}

.button.button-primary:hover {
  background-color: var(--button-primary-bg-hov-color);
  border: var(--button-primary-bdr-hov);
}

.button.button-secondary {
  background-color: var(--button-secondary-bg-color);
  border-color: var(--button-secondary-bdr);
}

.button.button-secondary:hover {
  background-color: var(--button-secondary-bg-hov-color);
  border-color: var(--button-secondary-bdr);
}

.button.button-remove {
  align-items: center;
  background-color: var(--button-remove-bg-color);
  border: var(--button-remove-bdr);
  border-radius: 50%;
  color: var(--button-remove-hov-color);
  display: inline-flex;
  justify-content: center;
}

.button.button-remove:hover {
  background-color: var(--button-remove-bg-hov-color);
  border: var(--button-remove-bdr-hov);
}

.button.button-remove .icon {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  transform: rotate(130deg);
}

button + .button.add-to-cart {
  max-width: 150px;
}

.main {
  display: flex;
  margin: 1.6rem auto;
  max-width: 800px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  @media (width >= 640px) {
    flex-direction: row;
    margin: 2rem auto;
  }
}

.item {
  background-color: var(--item-bg-color);
  border: var(--item-border);
  display: flex;
  margin-bottom: 0.4rem;
  padding: 0.8rem;
  position: relative;
}

.item.checked {
  filter: grayscale(1);
}

.item .item-checked {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 12px;
  font-weight: 700;
  left: 0;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.item__data {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  flex-direction: column;
}

.item-data__name {
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.item-data__price {
  font-size: 0.9rem;
  font-weight: 500;
}

.item-data__action {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.item-data__action input {
  height: 1.25rem;
  margin-right: 1rem;
  width: 1.25rem;
}

.item-data__action button {
  height: 40px;
  width: 40px;
}

.item-data__action input:hover {
  cursor: pointer;
}

.item img {
  display: block;
  border-radius: 50%;
  margin: auto 0;
  height: 48px;
  width: 48px;
}

.main__content {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  margin-bottom: 2rem;

  @media (width >= 640px) {
    margin-bottom: 0;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

.main__content + .sidebar {
  flex-basis: 48%;
  max-width: 100%;
  margin: 0;
}

.action {
  display: flex;
  justify-content: space-between;
}

.form-add-item {
  align-items: center;
  background-color: var(--theme-color-secondary);
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 1.6rem;
  padding: 0.8rem;
}

.form-add-item label {
  font-weight: bold;
  text-align: left;
}

.form-add-item button {
  max-width: 200px;
}

.form-add-item .button {
  margin-left: auto;
  grid-column: 2;
}

input,
select {
  background-color: var(--item-bg-color);
  border: var(--border-standard);
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.4rem;
  text-align: center;
  transition: 0.3s;
}

.main__content .total {
  background-color: var(--item-bg-color);
  border: var(--border-standard);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.main__content .total label {
  padding: 0.8rem;
}

.main__content .total .price {
  border-left: 1px solid var(--border-color);
  padding: 0.8rem;
}

.price {
  font-weight: bold;
}

.item-list {
  margin-top: 0;
}

.summary {
  background-color: var(--item-bg-color);
  border: var(--border-standard);
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.summary .total,
.summary .subtotal {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.summary .total .label {
  font-weight: 700;
}

.summary .total .price {
  font-size: 1.5rem;
}

.summary .summary-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin: 1.25rem 0;
  line-height: 1.25rem;
}

.summary-title {
  font-size: 2rem;
  margin: 0 0 1.25rem 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  margin-top: auto;
  padding: 1rem;
}

.footer-title {
  margin: 0;
}

::placeholder {
  color: var(--placeholder-color);
}
