:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-fruit-salad: #49a74c;
  --color-japanese-laurel: #35823c;
  --color-red-orange: #f44336;
  --color-persian-red: #d32f2f;
  --color-orange-peel: #ff9800;
  --color-mango-tango: #d98100;
  --color-solitude: #f5f7fa;
  --color-night-rider: #333;
  --color-ginsboro: #e0e0e0;
  --color-heather: #b0bec5;

  /* Theme colors */
  --theme-color-primary: var(--color-japanese-laurel);
  --theme-color-secondary: var(--color-orange-peel);
  --text-color: var(--color-night-rider);
  --page-bg-color: var(--color-solitude);

  /* Buttons */
  --button-primary-color: var(--color-white);
  --button-primary-hover-color: var(--button-primary-color);
  --button-primary-bg-color: var(--theme-color-primary);
  --button-primary-bdr: 1px solid var(--button-primary-bg-color);
  --button-primary-bg-hov-color: var(--color-fruit-salad);
  --button-primary-bdr-hov: 1px solid var(--button-primary-bg-hov-color);
  --button-secondary-color: var(--button-primary-color);
  --button-secondary-hover-color: var(--button-secondary-color);
  --button-secondary-bg-color: var(--color-mango-tango);
  --button-secondary-bdr: 1px solid var(--button-secondary-bg-color);
  --button-secondary-bg-hov-color: var(--color-orange-peel);
  --button-secondary-bdr-hov: 1px solid var(--button-secondary-bg-hov-color);
  --button-remove-color: var(--color-white);
  --button-remove-bg-color: var(--color-persian-red);
  --button-remove-bdr: 1px solid var(--button-remove-bg-color);
  --button-remove-hov-color: var(--button-remove-color);
  --button-remove-bg-hov-color: var(--color-red-orange);
  --button-remove-bdr-hov: 1px solid var(--button-remove-bg-hov-color);

  /* Borders */
  --border-color: var(--color-ginsboro);
  --border-standard: 1px solid var(--border-color);

  /* Elements */
  --header-color: var(--color-white);
  --header-bg-color: var(--theme-color-primary);
  --footer-color: var(--color-white);
  --footer-bg-color: var(--theme-color-primary);
  --card-bg-color: var(--color-white);

  /* Inputs */
  --placeholder-color: var(--color-heather);

  /* Items */
  --item-bg-color: var(--card-bg-color);
  --item-border: var(--border-standard);
}
